
.tiles{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.tile{
    border: 1px solid lightgray;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 15px;
    z-index: 2;
}
.moves{
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
}
#timer{
    width: 200px;
    border: 2px solid lightgray;
    height: 30px;
    font-size: 24px;
}

.menu__box{
    height: 100px;
    width: 300px;
    border: 3px solid gray;
}
.gd_btn{
    width: 50px;
    height: 30px;
    border: 2px solid lightgray;
}